<!DOCTYPE html>
<html>
    {% load static %}
    <body>
        <h1>Using XMLHttpRequest Object and Django JsonResponse</h1>
        <h2>GET Example</h2>

        <p id="demoGet">Let AJAX change this text.</p>

        <button type="button" onclick="getVersion()">Run GET</button>

        <h2>POST Example</h2>

        <p id="demoPost">Let AJAX change this text.</p>

        <button type="button" onclick="postAdd()">Run POST</button>

        <div id="new">

        <div id="timer">100</div>

        <div>
        <button onclick="timerStart()">Start</button>
        <button onclick="timerStop()">Pause</button>
        <button onclick="timerRestart()">Restart</button>
        </div>


        <script src="{% static 'os_videos_list/js/test_js.js' %}">
            
        </script>
        <script>
            
            document.addEventListener("DOMContentLoaded", function(){
                var tag = document.createElement("p");
                var text = document.createTextNode("Tutorix is the best e-learning platform");
                tag.appendChild(text);
                var element = document.getElementById("new");
                element.appendChild(tag);
                alert("from document")
                
            });
            window.addEventListener("load", function(){
                var tag = document.createElement("p");
                var text = document.createTextNode("Tutorix is the best e-learning platform");
                tag.appendChild(text);
                var element = document.getElementById("new");
                element.appendChild(tag);
});
            
        </script>

    </body>
</html>